*{
    margin: 0px;
    
}


.search{
    margin: 1em;
    height: 20px;
    width:100px;
    background-color: white;
    border-style: solid; 
    border-color: yellowgreen;
    color: yellowgreen;
    border-radius: 25px;
    font-size: 10px;
}
.plus{
    margin: 1em;
    border-style: solid; 
    border-color: rgb(21, 209, 223);
    background-color: rgb(21, 209, 223);
    color: white;
    border-radius: 50%;
}
.create{
    margin: 1em;
    height: 20px;
    width: 120px;
    background-color: rgb(89, 89, 236);
    color: white;
    border-color: rgb(15, 15, 15);
    border-style: solid;
    box-shadow: black;
    font-size: 8px;
}