*{
    margin: 0%;
    padding: 0px;
}

.nav{
    background-color: black;
    color: white;
    font-family: sans-serif;
    height: 4em;
}
.nav div{
    width: 100%;
    height:  1em;
}
.nav div p{
    font-size: 12px;
}
.nav button{
    background-color: #16a2b8;
    color: white;
    padding: 6px 12px;
}

.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-around{
    justify-content: space-between;
}

.justify-between{
justify-content: space-around;
}