*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container{
    width: 600px;
    height: 800px;
    margin: auto;
}

.network{
   height: 60px;
   background-color: black;
   color: white;
   font-size: 40px;
   padding-left: 20px;
}

.your-feed{
    height: 60px;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 40px;
    padding-top: 15px;

}
.box{
    height: 600px;
    display: flex;
    
}
.col-2{
    flex: 2;
    padding: 5px;

}
.col-5{
    flex: 5;
    padding: 5px;
}
.avatar{
    height: 250px;
    width: auto;
    padding: 20px;
    border: 5px solid black;
    text-align: center;
    margin: 5px;
    margin-right: 20px;
    text-align: center;
}

.avatar img{
    height: 100px;
    width: 100px;
    margin-bottom: 2em;
}

.add-avatar{
    font-size: 13px;
    margin-bottom: 2em;
}
.user-name{
    padding-top: 2em;
}
.feed-messages{
    height:150px;
    width: auto;
    border: 5px solid black;
    margin: 5px;
}
.individual-messages{
    padding: 10px;
}
.name{
    display: flex; 
    justify-content: space-between;
}
.likes-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.likes{
    flex: 1;
    width: 40px;
    padding-right: 1em;
}
.button{
    flex: 1;
    width: 100px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(204, 185, 14);
}