.container{
    width: 950px;
    background-color: silver;
    margin: 10px;
    padding: 5px;
}
.top-nav {
    height: 120px;
    background-color: green;
    display: block;
    margin: 10px;
}
.side-nav {
    height: 250px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.main {
    height: 350px;
    width: 675px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 12px;
}
.sub-content {
    height: 200px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
    margin: 10px;
}
#advertisement {
    height: 100px;
    width: 650px;
    background-color: purple;
    display: inline-block;
    margin: 10px;
}
