<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div class = " container mt-5">
        <div class="row justify-content-around">
            <div class="col-6">
                <h1>Edit your recipe</h1>
            </div>
            <div class="col-4 align-content-center">
                <a href="/dashboard">Dashboard</a>|
                <a href="/logout" classbtn-warning>Logout</a>    
            </div>
        </div>
        <form action = "/recipe/update/{{ recipe_id }}" method = "POST">
            <div  class = "container mt-5">
                <div class = "row justify_content-between">
                    <div class ="col">
                            <div>
                                <label for="">Name:</label>
                                <div>
                                    <input type="text" name="name" value="{{recipe.name}}">
                                </div>
                                <label for="">Description:</label>
                                <div>
                                    <textarea name="description" placeholder="{{recipe.description}}" id="" cols="40" rows="6" ></textarea>
                                </div>
                                <label for="">Instructions:</label>
                                <div>
                                    <textarea name="instructions" placeholder="{{recipe.instructions}}"id="" cols="40" rows="6"></textarea>
                                </div>
                                <button type="submit" class ="btn-warning mt-2"> Update </button>
                            </div>
                        <div>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <p class = "text-danger">{{ message }}</p>
                                    {% endfor %}                                
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class = "col">
                        <div class = "mt-3">
                            <label for="">Date Made on:</label>
                        </div>
                        <div class = "mt-2">
                            <input type="date" name="date_on" id="" value ="recipe.date_on">
                        </div>
                        <label for="" class = "mt-3">Under 30 Minutes</label>
                        <div class = "mt-1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="under" id="yes" value= "yes">
                                    <label class="form-check-label" for="under">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="under" id="no" value= "no" >
                                    <label class="form-check-label" for="under">No</label>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>    
        </form>       
    </div>

    
</body>
</html>